<div class="locationDetails">
  <h2><%= @location.name %></h2>

  <div class="location clearfix">
    <div id="details">
      <p>Region: <%= @region %></p>
      <p><%= @location.description %></p>

      <div class="speciesList">
        <h3>Species</h3>

        <ul>
          <% @species.each do |animal| %>
            <li id="<%= animal.id %>">
              <%= link_to animal.name, animal %>

              <% if animal.maori_name.present? %>
                (<%= animal.maori_name %>)
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>