<!DOCTYPE html>
<html>
  <head>
    <title>Wellington Wildlife Watching</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav>
      <ul>
        <li><%= link_to "Locations", locations_path, id: "locations-link" %></li>
        <li><%= link_to "Species", species_index_path, id: "species-link" %></li>
        <li><a id="location-search" href="/">Location Search</a></li>
        <li><a id="species-search" href="/">Species Search</a></li>
      </ul>
    </nav>

    <%= yield %>

  </body>
</html>
