<!DOCTYPE html>
<html>
  <head>
    <title>Wildlife Watching</title>
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter|Maven+Pro' rel='stylesheet' type='text/css'>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header id="top" class="main-header">
      <h1>Wildlife Watching</h1>
    </header>

    <nav>
      <ul>
        <li><%= link_to "Locations", locations_path, id: "locations-link" %></li>
        <li><%= link_to "Regions", regions_path, id: "regions-link" %></li>
        <li><%= link_to "Species", species_index_path, id: "species-link" %></li>
        <li><%= link_to "Search", search_path, id: "search-link" %></li>
      </ul>
    </nav>

    <div id="content">
      <%= yield %>
    </div>

    <footer>
      <p>Copyright &copy; 2019 <a href="mailto:info@kellymunro.com">Kelly Munro</a>. Images displayed on this site may not be used without written permission.</p>
    </footer>
  </body>
</html>
